COMPOSE_PROFILES=prod
PRODUCTION=true

DB_USER=logger_fou
DB_PASSWORD=fou_moi_je_fu_fou
DB_NAME=sandwichotek
DB_PORT=5432
DB_HOST=localhost
TEST_DB_PORT=5433

APP_HOST=0.0.0.0
APP_PORT=8000
TEST_APP_HOST=0.0.0.0
TEST_APP_PORT=8001


OAUTH_ID=1926kgfdqd.apps.googleusercontent.com
ALLOWED_EMAILS=prenom.nom@example.com,prenom2.nom@example.com
